<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cs.com.tlak">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".CreateNewUser"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".marungko_screen.ya_ya_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".marungko_screen.wa_wa_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".marungko_screen.ta_ta_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".marungko_screen.sa_sa_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".marungko_screen.ra_ra_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".marungko_screen.pa_pa_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".marungko_screen.nga_nga_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".marungko_screen.na_na_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".marungko_screen.ma_ma_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".marungko_screen.la_la_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_screens.katawan_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_screens.hayop_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_screens.prutas_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".overview_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".youtube_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_screens.numero_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_screens.transportasyon_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_screens.bilang_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_screens.gulay_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_screens.hugis_screen"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />
        <activity
            android:name=".marungko_screen.ka_ka_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".marungko_screen.ha_ha_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".marungko_screen.ga_ga_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".marungko_screen.da_da_screen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".marungko_screen.ba_ba_screen"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity_screens.marungko_screen"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />
        <activity
            android:name=".CategoryScreen"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" />
        <activity
            android:name=".StartScreen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name=".methods_class.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>